site_name: Korvax
site_author: David Marttila
theme:
  name: material
  palette:
    scheme: slate

plugins:
  - mkdocstrings:
      handlers:
        python:
          paths: [src]
          options:
            docstring_style: google
            relative_crossrefs: True
            show_root_heading: True
            separate_signature: True
            heading_level: 3
